<!DOCTYPE html>
<html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../public/assets/css/dashboard.min..css" />

	<title>dashboard hitam</title>
</head>
<body>
	<div class="container">
		<div class="col-md-12">

		 <div class="col-md-6 col-sm-6">
		 	<article>
		 		<div class="detail">
		 	    <img src="../../img/slide3.jpg">		
		 		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p></div>
		 	</article>
		 </div>
		<sidekanan>
		 	<div class="row">
		 <div class="col-md-4 col-sm-6">
		 	<div class="title">Jadwal kajian</div>
		 	<table class="table table-bordered">
		 		<td width="50px" class="nomer">1</td><td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo.</td><tr>
		 			<td width="50px" class="nomer">2</td><td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. .</td><tr>
		 	</table>

		 	<ol>
              <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                  <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
               <li>Nulla volutpat aliquam velit</li>
            </ol>

		 	<div class="title">Kajian Terbaru</div>
			 <div class="col-md-6">
			 	<img src="../../img/page1-img1.jpg" class="img-responsive">	
			 	 <img src="../../img/page1-img2.jpg" class="img-responsive">
			 	 <img src="../../img/page2-img1.jpg" class="img-responsive">
			 	</div>
			 	<div class="col-md-6">
			 	 <img src="../../img/page1-img1.jpg" class="img-responsive">	
			 	 <img src="../../img/page1-img2.jpg" class="img-responsive">
			 	<img src="../../img/page2-img1.jpg" class="img-responsive">
			</div>
		 </div>

		 <div class="col-md-2 col-sm-6">
		 	<div class="kecil">
		 	<div class="title">Release News </div>			 	
		 	<p>Lorem ipsum dolor sit amet sdsdsd dssds,</p>
		 	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
		 	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>  
		  
		   <div class="title">Jadwal sholat </div>
		    <p>Lorem ipsum dolor sit amet sdsdsd dssds,</p>
		 	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
		 	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
		 	<img src="../../img/page5-img6.jpg" class="img-responsive">

		    </div>
		</div>
		</sidekanan>		
		
	</div>

</body>
</html>